// Header and logo
header {
	padding: $base-padding;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $section-main;
	& > h1 {
		z-index: 1;
	}
}

#logo {
	width: 100px;
	position: absolute;
}

// "Jumbotron"
.hero {
	position: relative;
	& img {
		width: 100%;
	}
}

.hero__caption { // The hero image caption as a whole
	position: absolute;
	top: 35%;
	margin-left: 3rem;
	& h1, p { // The caption within the image
		margin: 0;
	}
}

// Information
.info {
	padding: $base-padding;
	margin: $base-margin;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	& img {
		width: 100%;
		max-height: 500px;
		object-fit: cover;
	}
}

#info-header {
	max-width: 72%;
}

// Our Promise
.promise {
	background-color: $section-dark;
	padding: $base-padding;

	& h1, p {
		margin: $base-margin;
	}
}

// Menu
.menu {
	padding: $base-padding;
	background-image: url("../Images/Red_Pancakes.jpeg");
	background-attachment: fixed;
	& > h1, .menu__container {
		margin: $base-margin;
	}
}

.menu__container {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.menu__items {
	@include shadow-effect;
	padding: $base-padding;
	background-color: $section-dark;
	& > h3 {
		text-transform: uppercase;
		margin-bottom: 0;
	}
	& > p {
		margin-top: 0.5rem;
	}
}

.menu__items > h1 {
	color: $section-main;
}

// Photo Gallery
.photo-gallery {
	margin: $base-margin;
	display: grid;
	grid-gap: $base-padding;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	& img {
		@include shadow-effect;
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.hero img {
		height: 85vh;
		object-fit: cover;
	}

	.hero__caption {
		margin-left: 1rem;
	}

	.info {
		margin: 0;
		& img {
			padding: 0;
		}
	}

	.promise {
		padding: 1rem;
		& h1, p {
			margin: 0;
		}
		& p {
			padding: 2rem 0;
		}
	}

	.menu {
		& > h1, .menu__container, .photo-gallery {
			margin: 1rem 0;
		}
	}
}
