// Styling for specific sections of the home page

body {
	margin: 0;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	background-color: $section-main;
	height: 100rem;
}


// Sections
.hero {
	position: relative;
	& img {
		width: 100%;
	}
}

.hero__caption { // The hero image caption as a whole
	position: absolute;
	top: 35%;
	margin-left: 3rem;
	& h1, p { // The caption within the image
		margin: 0;
	}
}

.info img {
	width: 100%;
	// height: 50%;
}

@media screen and (max-width: 600px) {
	.hero img {
		height: 85vh;
		object-fit: cover;
	}
}
