// Base Colors
$orange-red: #D74027;
$goldenrod: #EF9616;
$beige: #EBE3D0;
$burlywood: #D5B26D;


// Typography
$heading-font: 'Yellowtail', cursive;
$subheading-font: 'Karla', sans-serif;
$body-font: 'Josefin Sans', sans-serif;


// Site Colors
$box-heading-color: $orange-red;
$photo-frame-color: $beige;

$section-dark: $beige;
$section-light: $burlywood;

$menu-color: $burlywood;