// CSS for reusable elements across the website and styling base HTML 

body {
	margin: 0;
}

main {
	background-color: $section-main;
}

.header-box {
	@include shadow-effect;
	background-color: $box-heading-color;
	max-width: 30%;
	padding: $base-padding;
	// margin: $base-margin;
	color: $section-main;
}


.hero__text {
	@include shadow-effect;
	background-color: $section-main;
	padding: $base-padding * 2;
	max-width: 55%;
}

.img-frame {
	@include shadow-effect;
	padding: 1rem;
	background-color: $photo-frame-color;
}


@media screen and (max-width: 600px) {
	.header-box {
		max-width: 50%;
	}
}
