// CSS for reusable elements across the website

.header-box {
	@include shadow-effect;
	background-color: $box-heading-color;
	max-width: 30%;
	padding: $base-padding;
	// margin: $base-margin;
	color: $section-main;
}


.hero__text {
	@include shadow-effect;
	background-color: $section-main;
	padding: $base-padding;
	max-width: 55%;
}