@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Karla|Yellowtail&display=swap');

h1, h2 {
	font-family: $heading-font;
}

h1 {
	font-size: 2rem;
}

h3 {
	font-family: $subheading-font;
}

p {
	font-family: $body-font;
}


@media screen and (max-width: 600px) {

	p {
		line-height: 1.5rem;
	}

}